<!DOCTYPE html>
<html>
<head>
  <title>My first Axios call</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

<!-- 
This is a first prototype version of a frontend for our game database. It uses vue.js 
for the dynamic content and Axios to retrieve it from a backend. Ir is based on an
example from the vue.js documentation on using Axios to consume REST APIs.

https://vuejs.org/v2/cookbook/using-axios-to-consume-apis.html

-->

<h1>First Prototype of Game DB</h1>

<div id="app">
  <h1>Game List</h1>

  <section v-if="errored">
    <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
  </section>

  <section v-else>
    <div v-if="loading">Loading...</div>

    <div
      v-else
      v-for="game in info"
      class="game"
    >
      {{ game.game_igdb_name }}:
      <span class="lighten">
        {{ game.game_rating | ratingdecimal }}
      </span>
    </div>

  </section>
</div>

<script>
new Vue({
  el: '#app',
  data () {
    return {
      info: null,
      loading: true,
      errored: false
    }
  },
  filters: {
    // This filter will be used to reduce the game rating to two decimals
    ratingdecimal (value) {
      return value.toFixed(2)
    }
  },
  mounted () {
    // This is the core of the code where we request data from our APIs
	// For the time being this is a Python Flask server started from the command line
    axios
      .get('http://127.0.0.1:5000/api/v1/resources/games/all')
      .then(response => {
        this.info = response.data
		// This is for debugging only to see the response on the Java script console
		console.log(response)
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      .finally(() => this.loading = false)
  }
})
</script>
</body>