<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">

  <title>Playing with buefy</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="app">
    <!-- Buefy components goes here -->
    <section class="hero is-medium is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Game DB</h1>
          <h2 class="subtitle">A small example of a frontend for a computer game database.</h2>
        </div>
      </div>
    </section>
    <section class="buttons is-centered">
          <b-field label="Min Rating">
            <b-numberinput v-model="minrating" :min="0" :max="100"></b-numberinput>
          </b-field>
          <b-field label="Max Rating">
            <b-numberinput v-model="maxrating" :min="0" :max="100"></b-numberinput>
          </b-field>
          <b-field label="Min Rating Count">
            <b-numberinput v-model="mincount"></b-numberinput>
          </b-field>
          <b-field label="Max Playtime">
            <b-numberinput v-model="maxplaytime"></b-numberinput>
          </b-field>
          <b-button type="is-primary is-large" @click="searchIconClick">Search</b-button>
    </section>
    <section class="columns is-centered">
      <b-table :data="isEmpty ? [] : data" :default-sort-direction="defaultSortDirection" :sort-icon="sortIcon"
        :sort-icon-size="sortIconSize" default-sort="game_rating">
        <b-table-column field="id" label="ID" width="40" sortable v-slot="props">
          {{ props.row.game_igdb_id }}
        </b-table-column>

        <b-table-column field="game_igdb_name" label="Game" sortable v-slot="props">
          {{ props.row.game_igdb_name }}
        </b-table-column>

        <b-table-column field="game_rating" label="Rating" sortable v-slot="props">
          {{ props.row.game_rating | ratingdecimal }}
        </b-table-column>

        <b-table-column field="game_rating_count" label="Rating Count" sortable v-slot="props">
          {{ props.row.game_rating_count }}
        </b-table-column>

      </b-table>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>The Game DB Prototype</strong> implemented by Nop287.
        </p>
      </div>
    </footer>

  </div>


  <script>
    const example = {
      data() {
        const data = [
        ]
        const minrating = 80
        const maxrating = 90
        const mincount = 10
        const maxplaytime = 30

        return {
          data,
          minrating,
          maxrating,
          mincount,
          maxplaytime,
          isEmpty: false,
          isBordered: false,
          isStriped: false,
          isNarrowed: false,
          isHoverable: false,
          isFocusable: false,
          isLoading: false,
          defaultSortDirection: "asc",
          sortIcon: "arrow-up",
          sortIconSize: "is-small",
        }
      },
      methods: {
        searchIconClick() {
          axios
            .get('http://127.0.0.1:5000/api/v1/resources/games/by_rating', { params: { min: this.minrating, max: this.maxrating, mincount: this.mincount, maxtime: this.maxplaytime } })
            .then(response => {
              this.data = response.data
              // This is for debugging only to see the response on the Java script console
              console.log(response)
            })
            .catch(error => {
              console.log(error)
              this.errored = true
            })
            .finally(() => this.loading = false)
        },
      },
      filters: {
        // This filter will be used to reduce the game rating to two decimals
        ratingdecimal(value) {
          return value.toFixed(2)
        }
      },
      mounted() {
        axios
          .get('http://127.0.0.1:5000/api/v1/resources/games/by_rating', { params: { min: this.minrating, max: this.maxrating } })
          .then(response => {
            this.data = response.data
            // This is for debugging only to see the response on the Java script console
            console.log(response)
          })
          .catch(error => {
            console.log(error)
            this.errored = true
          })
          .finally(() => this.loading = false)
      }
    }

    const app = new Vue(example)
    app.$mount('#app')

  </script>
</body>

</html>