<!DOCTYPE html>
<html>
<head>
  <title>Playing with Components</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

<h1>Playing with Components</h1>

<div id="components-demo">
  <button-counter></button-counter>
  <button-counter></button-counter>
  <button-counter></button-counter>
  <button-counter></button-counter>
</div>

<h1>Playing with Components Getting Data</h1>

<div id="blog-post-demo">
  <blog-post
    v-for="post in posts"
    v-bind:key="post.id"
    v-bind:title="post.title"
  ></blog-post>
</div>

<h1>Refactored Component Getting Data</h1>

<div id="blog-refactor-demo">
  <blog-refactor
    v-for="post in posts"
    v-bind:key="post.id"
    v-bind:post="post"
  ></blog-refactor>
</div>

<h1>Components Exchanging Data</h1>

<div id="blog-posts-events-demo">
  <div :style="{ fontSize: postFontSize + 'em' }">
   <blog-button
      v-for="post in posts"
      v-bind:key="post.id"
      v-bind:post="post"
      v-on:enlarge-text="postFontSize += 0.1"
    ></blog-button>
  </div>
</div>

<script>
// Define a new component called button-counter
Vue.component('button-counter', {
  data: function () {
    return {
      count: 0
    }
  },
  template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
})

Vue.component('blog-post', {
  props: ['title'],
  template: '<h3>{{ title }}</h3>'
})

Vue.component('blog-refactor', {
  props: ['post'],
  template: `
    <div class="blog-post">
      <h3>{{ post.title }}</h3>
      <div v-html="post.content"></div>
    </div>
  `
})

Vue.component('blog-button', {
  props: ['post'],
  template: `
    <div class="blog-post">
      <h3>{{ post.title }}</h3>
      <button v-on:click="$emit('enlarge-text')">
        Enlarge text
      </button>
      <div v-html="post.content"></div>
    </div>
  `
})

new Vue({ el: '#components-demo' })

new Vue({
  el: '#blog-post-demo',
  data: {
    posts: [
      { id: 1, title: 'My journey with Vue' },
      { id: 2, title: 'Blogging with Vue' },
      { id: 3, title: 'Why Vue is so fun' }
    ]
  }
})

new Vue({
  el: '#blog-refactor-demo',
  data: {
    posts: [
      { id: 1, title: 'My journey with Vue', content: "This is a test." },
      { id: 2, title: 'Blogging with Vue', content: "This content is boring." },
      { id: 3, title: 'Why Vue is so fun', content: "Perhaps you have a better story to tell." }
    ]
  }
})

new Vue({
  el: '#blog-posts-events-demo',
  data: {
    posts: [
      { id: 1, title: 'My journey with Vue', content: "This is a test." },
      { id: 2, title: 'Blogging with Vue', content: "This content is boring." },
      { id: 3, title: 'Why Vue is so fun', content: "Perhaps you have a better story to tell." }
    ],
    postFontSize: 1
  }

  

})

</script>

</body>